@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .p-paginator {
        @apply flex justify-center gap-2 mt-2;
    }

    .p-paginator-first,
    .p-paginator-prev,
    .p-paginator-next,
    .p-paginator-last {
        @apply px-3 py-1 rounded-full bg-gray-100 text-black hover:bg-gray-400 disabled:opacity-50;
    }

}